# Database
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require"

# Пример для Neon PostgreSQL:
# DATABASE_URL="postgresql://neondb_owner:your_password@your-host.neon.tech/neondb?sslmode=require"
